#container-section-projects {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    > div {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        flex-direction: column;
        gap: 3rem;

        > ul {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            min-width: 20rem;

            > li {
                display: flex;
                width: 100%;
                align-items: center;

                > p {
                    text-align: start;
                    flex-grow: 1;
                    font-size: 1.125rem;
                    opacity: 0.75;
                }
            }
        }

        > button {
            border: 2px solid rgba(var(--opposite-rgb), 0.25);
            color: rgba(var(--opposite-rgb), 0.5);
            font-weight: 500;
            border-radius: 0.25rem;
            padding: 0.5rem 1rem;
            transition: background-color 0.15s;

            &:hover,
            &:active {
                background-color: rgba(var(--opposite-rgb), 0.075);
            }
        }
    }

    > ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;

        > li {
            display: flex;
            flex-direction: column;
            aspect-ratio: 4/3;
            border-radius: 0.5rem;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 1px solid hsl(240 5% 84%);
            background-color: white;
            box-shadow:
                0 10px 15px -3px rgb(0 0 0 / 0.1),
                0 4px 6px -4px rgb(0 0 0 / 0.1);
            overflow: hidden;
            padding: 0.5rem;
            border-bottom: 5px solid transparent;
            transition: border-color 0.15s;

            > h2 {
                font-size: 2rem;
                font-weight: 500;
                opacity: 0.75;
                transition: opacity 0.15s;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                text-align: center;
            }

            * {
                cursor: pointer;
            }

            &:hover {
                > h2 {
                    opacity: 1;
                }
            }

            &.active {
                border-bottom-color: var(--accent-200);
            }
        }
    }
}
