#container-page-project {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
        z-index: -1;
    }

    > div {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
    }
}

#section-telegram-ios,
#section-telegram-android {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > header {
        display: flex;
        justify-content: flex-start;
        background-color: var(--bg-color);
        box-shadow: var(--shadow-card);
        border: 1px solid rgba(var(--opposite-rgb), 0.125);
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        align-items: center;

        > h2 {
            font-weight: 600;
            flex-grow: 1;
        }

        > ul {
            display: flex;
            align-items: center;
            gap: 0.75rem;
        }
    }
}

#viewport-telegram-ios {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;

    > svg {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        inset: 0;
        margin-top: 0.375rem;
    }

    > header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 3.125rem 0.5rem 0.425rem;
        cursor: default;

        * {
            cursor: default;
        }

        > div {
            &:nth-child(1) {
                display: flex;
                align-items: center;

                > span {
                    display: flex;
                    align-items: center;
                    font-size: 0.925rem;

                    > svg {
                        display: inline;
                        font-size: 1.125rem;
                    }
                }
            }

            &:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                overflow: hidden;
                max-width: 100%;
                text-overflow: ellipsis;

                > h2 {
                    line-height: normal;
                    font-size: 1rem;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: flex;
                    max-width: 100%;
                }

                > span {
                    line-height: normal;
                    font-size: 0.75rem;
                }
            }

            &:nth-child(3) {
                display: flex;
                align-items: center;
                justify-content: end;

                > span {
                    display: flex;
                    color: white;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    width: 2rem;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-weight: 500;
                }
            }
        }
    }

    &.dark {
        > div:nth-child(3) {
            background: var(--telegram-ios-bg-gradient-dark);

            &::before {
                filter: invert(1);
            }
        }
    }

    > div:nth-child(3) {
        display: flex;
        content: "";
        flex-grow: 1;
        background: var(--telegram-ios-bg-gradient-light);
        position: relative;

        &::before {
            background: url("/assets/patterns/pattern-1.svg") repeat;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            content: "";
            opacity: 0.125;
        }
    }

    > span:nth-child(4) {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
    }

    &.expanded {
        background-color: black;

        > header {
            margin: 3.5rem 1rem 0;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            background-color: var(--tg-var-ios-light-sectionBgColor) !important;
        }

        &.dark {
            > header {
                background-color: var(--tg-var-ios-dark-sectionBgColor) !important;
            }
        }
    }

    > section {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        overflow: hidden;
        height: 68%;

        &.expanded {
            height: calc(100% - 4.25rem);
        }

        > header {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            padding: 0.5rem;
            cursor: default;

            * {
                cursor: default;
            }

            > div {
                &:nth-child(1) {
                    display: flex;
                    align-items: center;

                    > span {
                        display: flex;
                        align-items: center;
                        font-size: 0.875rem;
                    }
                }

                &:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    overflow: hidden;
                    max-width: 100%;
                    text-overflow: ellipsis;

                    > h2 {
                        line-height: normal;
                        font-size: 0.925rem;
                        font-weight: 600;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        display: flex;
                        max-width: 100%;
                    }

                    > span {
                        line-height: normal;
                        font-size: 0.75rem;
                    }
                }

                &:nth-child(3) {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    font-size: 1.125rem;
                }
            }
        }

        > section {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            flex-grow: 1;

            > webview {
                display: flex;
                padding: 0;
                margin: 0;
                flex-grow: 1;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.shake {
    animation: vibrate 0.5s;
    animation-iteration-count: infinite;

    @keyframes vibrate {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(-1deg);
        }
        20% {
            transform: rotate(1deg);
        }
        30% {
            transform: rotate(0deg);
        }
        40% {
            transform: rotate(1deg);
        }
        50% {
            transform: rotate(-1deg);
        }
        60% {
            transform: rotate(0deg);
        }
        70% {
            transform: rotate(-1deg);
        }
        80% {
            transform: rotate(1deg);
        }
        90% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-1deg);
        }
    }
}

.popup-overlay.ios {
    position: absolute;
    inset: 0;
    z-index: 99999999;

    > div {
        position: absolute;
        inset: 0;
        transition: all 0.25s;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &.light {
        > section {
            background-color: rgba(255, 255, 255, 0.75);
            color: #000000;

            > ul {
                border-color: rgba(0, 0, 0, 0.2);

                > li {
                    color: rgba(0, 128, 255);
                    border-color: rgba(0, 0, 0, 0.2) !important;

                    &:active {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    &.dark {
        > section {
            background-color: rgba(38, 38, 38, 0.75);
            color: #ffffff;

            > ul {
                border-color: rgba(255, 255, 255, 0.15);

                > li {
                    color: rgba(0, 128, 255);
                    border-color: rgba(255, 255, 255, 0.15) !important;

                    &:active {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }

    > section {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        transform: translateX(-50%) translateY(-50%);
        border-radius: 0.75rem;
        width: 70%;
        overflow: hidden;

        > div {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            > b {
                font-weight: bold;
                font-size: 1.25rem;
                text-align: center;
                width: 100%;
            }

            > p {
                font-size: 1rem;
                text-align: center;
                width: 100%;
            }
        }

        > ul {
            border-top: 1px solid;
            display: flex;
            align-items: center;

            > li {
                display: flex;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 0;
                padding: 0.5rem 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                > span.destructive {
                    color: rgba(255, 0, 32);
                }

                &:not(:last-child) {
                    border-inline-end: 1px solid;
                }
            }
        }
    }
}
