*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// *:not(.button):not(.button-primary):not(svg):not(svg *):not(button):not(input):not(select) {
//     cursor: default;
// }

button:disabled {
    opacity: 0.75;
    pointer-events: none;
}

:root {
    font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.button-primary {
    background-color: var(--accent-400);
    color: white;
    transition: background-color 0.15s;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0.325rem;
    padding: 0.325rem 0.625rem;
    font-size: 1rem;

    * {
        cursor: pointer !important;
    }

    &:hover,
    &:active {
        background-color: var(--accent-700);
    }
}

#container-page-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
}

#container-page-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;

    > div {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow: hidden;
    }
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%;
}
