:root {
    --bg-color: #f5f5f5;
    --text-color: #252525;
    --opposite-rgb: 64, 64, 64;
    --accent-100: #82b1ff;
    --accent-200: #448aff;
    --accent-400: #2979ff;
    --accent-700: #2962ff;
    --device-frame-color: #303030;
    --device-frame-border: #999999;
    --device-frame-bg: #656565;

    --shadow-card: 0 4px 5px 0 rgba(170, 179, 217, 0.175);
    --shadow-deep: 0 8px 10px 0 rgba(170, 179, 217, 0.75);

    --telegram-ios-bg-gradient-light: linear-gradient(
        135deg,
        rgba(208, 214, 140, 1) 0%,
        rgba(137, 182, 137, 1) 40%,
        rgba(137, 182, 137, 1) 60%,
        rgba(208, 214, 140, 1) 100%
    );
    --telegram-android-bg-gradient-light: var(--telegram-ios-bg-gradient-light);

    --telegram-ios-bg-gradient-dark: linear-gradient(
        135deg,
        rgba(32, 46, 32, 1) 0%,
        rgba(64, 46, 64, 1) 40%,
        rgba(64, 46, 64, 1) 60%,
        rgba(32, 46, 32, 1) 100%
    );

    --telegram-android-bg-gradient-dark: linear-gradient(135deg, #11212e 0%, #11212e 40%, #11212e 60%, #11212e 100%);
}
