#section-telegram-bottombar {
    display: flex;
    flex-direction: column;

    > ul {
        display: flex;
        padding: 0.5rem 1.25rem 1.625rem;
        direction: ltr;
        gap: 0.625rem;

        &.column {
            flex-direction: column;
        }

        > li {
            flex-grow: 1;
            flex-basis: 0;
            flex-shrink: 0;

            &.top {
                order: -1;
            }

            &.bottom {
                order: 1;
            }

            &.left {
                order: -1;
            }

            &.right {
                order: 1;
            }

            > button {
                width: 100%;
                line-height: normal;
                font-size: 1rem;
                padding: 0.75rem;
                border-radius: 0.5rem;
                transition: opacity 0.15s;
                text-align: center;
                position: relative;
                overflow: hidden;

                &:hover {
                    opacity: 0.875;
                }

                &:disabled {
                    pointer-events: none;
                    opacity: 0.425;
                }

                > svg {
                    display: inline;
                    animation: rotate 1s linear infinite;

                    @keyframes rotate {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }

                &.shine {
                    &::after {
                        content: "";
                        top: 0;
                        transform: translateX(100%);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 1;
                        animation: slide 2s infinite;

                        background: -moz-linear-gradient(
                            left,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(255, 255, 255, 0.8) 50%,
                            rgba(128, 186, 232, 0) 99%,
                            rgba(125, 185, 232, 0) 100%
                        ); /* FF3.6+ */
                        background: -webkit-gradient(
                            linear,
                            left top,
                            right top,
                            color-stop(0%, rgba(255, 255, 255, 0)),
                            color-stop(50%, rgba(255, 255, 255, 0.8)),
                            color-stop(99%, rgba(128, 186, 232, 0)),
                            color-stop(100%, rgba(125, 185, 232, 0))
                        ); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(
                            left,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(255, 255, 255, 0.8) 50%,
                            rgba(128, 186, 232, 0) 99%,
                            rgba(125, 185, 232, 0) 100%
                        ); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(
                            left,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(255, 255, 255, 0.8) 50%,
                            rgba(128, 186, 232, 0) 99%,
                            rgba(125, 185, 232, 0) 100%
                        ); /* Opera 11.10+ */
                        background: -ms-linear-gradient(
                            left,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(255, 255, 255, 0.8) 50%,
                            rgba(128, 186, 232, 0) 99%,
                            rgba(125, 185, 232, 0) 100%
                        ); /* IE10+ */
                        background: linear-gradient(
                            to right,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(255, 255, 255, 0.8) 50%,
                            rgba(128, 186, 232, 0) 99%,
                            rgba(125, 185, 232, 0) 100%
                        ); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */

                        @keyframes slide {
                            0% {
                                transform: translateX(-100%);
                            }
                            100% {
                                transform: translateX(100%);
                            }
                        }
                    }
                }
            }
        }
    }
}
