#section-button-more {
    display: flex;
    justify-content: flex-end;
    position: relative;

    > div {
        position: absolute;
        top: calc(100% + 0.5rem);
        z-index: 1000;
        display: none;

        &.active {
            display: block;
        }

        > ul {
            display: flex;
            flex-direction: column;

            > li {
                display: flex;
                line-height: normal;
                padding: 0.5rem 1.25rem;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;
                transition: opacity 0.15s;

                > span {
                    font-size: 1rem;
                    cursor: pointer;
                }

                > svg {
                    cursor: pointer;
                }

                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }

    &.ios {
        > div {
            border-radius: 0.5rem;
            overflow: hidden;
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
            border: 1px solid;

            > ul {
                > li:not(:last-child) {
                    border-bottom: 1px solid;
                }
            }
        }

        &.light {
            > div {
                background-color: rgba(255, 255, 255, 0.75);
                color: #000000;
                border-color: rgba(0, 0, 0, 0.25);

                > ul {
                    > li {
                        border-color: rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }

        &.dark {
            > div {
                background-color: rgba(38, 38, 38, 0.75);
                color: #ffffff;
                border-color: rgba(255, 255, 255, 0.25);

                > ul {
                    > li {
                        border-color: rgba(255, 255, 255, 0.25);
                    }
                }
            }
        }
    }

    &.android {
        > div {
            border-radius: 0.5rem;
            overflow: hidden;
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
            border: 1px solid;

            > ul {
                > li:not(:last-child) {
                    border-bottom: 1px solid;
                }
            }
        }

        &.light {
            > div {
                background-color: rgba(255, 255, 255, 0.75);
                color: #000000;
                border-color: rgba(0, 0, 0, 0.25);

                > ul {
                    > li {
                        border-color: rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }

        &.dark {
            > div {
                background-color: rgba(38, 38, 38, 0.75);
                color: #ffffff;
                border-color: rgba(255, 255, 255, 0.25);

                > ul {
                    > li {
                        border-color: rgba(255, 255, 255, 0.25);
                    }
                }
            }
        }
    }
}
