#viewport-telegram-android {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;

    > svg {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        inset: 0;
        margin-top: 0.375rem;
        z-index: 10;
    }

    > header {
        display: flex;
        padding: 3.5rem 0.75rem 0.75rem;
        cursor: default;
        gap: 1rem;

        * {
            cursor: default;
        }

        > div {
            &:nth-child(1),
            &:nth-child(3) {
                display: flex;
                align-items: center;

                > span {
                    display: flex;
                    align-items: center;
                    font-size: 0.925rem;

                    > svg {
                        display: inline;
                        font-size: 1.425rem;
                    }
                }
            }

            &:nth-child(2) {
                flex-grow: 1;
                display: flex;
                gap: 0.75rem;

                > div:first-child {
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    > span {
                        display: flex;
                        color: white;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        width: 2.25rem;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-weight: 500;
                    }
                }

                > div:last-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    text-align: initial;
                    overflow: hidden;
                    max-width: 100%;
                    text-overflow: ellipsis;

                    > h2 {
                        line-height: normal;
                        font-size: 1rem;
                        font-weight: 600;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        display: flex;
                        max-width: 12rem;
                    }

                    > span {
                        line-height: normal;
                        font-size: 0.75rem;
                        opacity: 0.75;
                    }
                }
            }
        }
    }

    &.dark {
        > div:nth-child(3) {
            background: var(--telegram-android-bg-gradient-dark);

            &::before {
                filter: invert(1);
            }
        }
    }

    > div:nth-child(3) {
        display: flex;
        content: "";
        flex-grow: 1;
        background: var(--telegram-android-bg-gradient-light);
        position: relative;

        &::before {
            background: url("/assets/patterns/pattern-1.svg") repeat;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            content: "";
            opacity: 0.125;
        }
    }

    > span:nth-child(4) {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
    }

    &.open.expanded {
        background-color: black;

        > header {
            margin: 3.5rem 1rem 0;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            background-color: var(--tg-var-android-light-section_bg_color) !important;
        }

        &.dark {
            > header {
                background-color: var(--tg-var-android-dark-section_bg_color) !important;
            }

            > section {
                > header {
                    border-bottom: 1px solid var(--tg-var-android-dark-section_separator_color);
                }
            }
        }
    }

    > section {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        overflow: hidden;
        height: 68%;

        &.expanded {
            height: 100%;
            border-radius: 0;

            > section {
                padding: 0;

                &::before {
                    display: none;
                }
            }
        }

        > header {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 3.5rem 0.5rem 0.875rem 0.5rem;
            cursor: default;
            border-bottom: 1px solid var(--tg-var-android-light-section_separator_color);

            > div {
                &:nth-child(1) {
                    display: flex;
                    align-items: center;

                    > span {
                        display: flex;
                        align-items: center;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                }

                &:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    text-align: initial;
                    overflow: hidden;
                    max-width: 100%;
                    text-overflow: ellipsis;
                    flex-grow: 1;

                    > h2 {
                        line-height: normal;
                        font-size: 1rem;
                        font-weight: 600;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        display: flex;
                        max-width: 100%;
                    }
                }

                &:nth-child(3),
                &:nth-child(4) {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    font-size: 1.25rem;
                    cursor: pointer;
                }
            }
        }

        > section {
            display: flex;
            flex-direction: column;
            padding: 1rem 0 0 0;
            margin: 0;
            flex-grow: 1;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                top: 0.375rem;
                width: 4rem;
                height: 0.25rem;
                background-color: currentColor;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 100rem;
                opacity: 0.175;
            }

            > div {
                position: absolute;
                inset: 0;
                z-index: 999999;
            }

            > webview {
                display: flex;
                padding: 0;
                margin: 0;
                flex-grow: 1;
                width: 100%;
                height: 100%;
            }
        }
    }

    > footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        display: flex;
        padding: 0.75rem 1rem 1.75rem;
        gap: 0.5rem;
        align-items: center;

        > button {
            cursor: pointer;
            line-height: normal;
            padding: 0 0.625rem;
            border-radius: 100rem;
            font-size: 0.875rem;
            display: flex;
            gap: 0.25rem;
            align-items: center;
            height: 2rem;

            > svg {
                font-size: 1.125rem;
            }
        }

        > div {
            display: flex;
            flex-grow: 1;
            align-items: center;
            border-radius: 100rem;
            padding: 0.25rem 0.75rem;

            > span {
                flex-grow: 1;
            }
        }

        svg {
            font-size: 1.325rem;
        }
    }
}
