:root {
    --bg-color: #f5f5f5;
    --text-color: #252525;
    --opposite-rgb: 64, 64, 64;
    --accent-100: #82b1ff;
    --accent-200: #448aff;
    --accent-400: #2979ff;
    --accent-700: #2962ff;
}
