.text-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.text-field__label {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    user-select: none;
    position: relative;

    &.required {
        &::after {
            content: "*";
            color: red;
            opacity: 0.625;
            font-size: inherit;
            padding-inline-start: 0.25rem;
        }
    }
}
.text-field__input {
    display: inline-flex;
    width: 200px;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 16px;
    outline: none;
    background-color: var(--bg-color);
    border: 1px solid rgba(var(--opposite-rgb), 0.25);
    color: var(--text-color);
    transition:
        border-color 250ms,
        color 250ms;
}
.text-field__input:hover {
    border-color: rgba(var(--opposite-rgb), 0.5);
}
.text-field__input:focus-visible {
    outline: 2px solid hsl(200 98% 39%);
    outline-offset: 2px;
}
.text-field__input[data-invalid] {
    border-color: hsl(0 72% 51%);
    color: hsl(0 72% 51%);
}
.text-field__input::placeholder {
    color: rgba(var(--opposite-rgb), 0.75);
}
.text-field__description {
    color: var(--text-color);
    font-size: 12px;
    user-select: none;
}
.text-field__error-message {
    color: hsl(0 72% 51%);
    font-size: 12px;
    user-select: none;
}
